################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASIACCS-17/v14/.suo
/ASIACCS-17.VC.VC.opendb
/ASIACCS-17.VC.db
